{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  Enter your password – GOV.UK Digital ID
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "GOV.UK Digital ID",
    serviceUrl: "/"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Enter your password
      </h1>

      <form action="/verify-code" method="post" novalidate>
        <div class="govuk-form-group">
          <label class="govuk-label" for="password">
            Password
          </label>
          <input class="govuk-input govuk-input--width-20" id="password" name="password" type="password" autocomplete="current-password">
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I've forgotten my password
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">
              <a href="#" class="govuk-link">Reset your password</a>
            </p>
          </div>
        </details>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

      <p class="govuk-body">
        <a href="/enter-email" class="govuk-link">Back</a>
      </p>
    </div>
  </div>
{% endblock %}

