{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  Digital ID Prototypes – GOV.UK
{% endblock %}

{% set serviceName = "Digital ID Prototypes" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Digital ID Prototypes
      </h1>

      <p class="govuk-body-l">
        This is a prototype and does not represent fully tested ideas.
      </p>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">
          List of prototypes
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Title</th>
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header">Link</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Reporting Dashboard</td>
            <td class="govuk-table__cell">Conceptual design V1 for how government could assess performance of the Digital ID service</td>
            <td class="govuk-table__cell">
              <a href="/reporting" class="govuk-link">reporting.html</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Log on and view digital identity</td>
            <td class="govuk-table__cell">User journey for logging in and viewing your digital identity card</td>
            <td class="govuk-table__cell">
              <a href="/enter-email" class="govuk-link">enter-email.html</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Create temporary identity code</td>
            <td class="govuk-table__cell">Generate a temporary code to share your identity with third parties</td>
            <td class="govuk-table__cell">
              <a href="/create-temp-code" class="govuk-link">create-temp-code.html</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
